body {
    background-color: beige;
}

h1, h3 { 
    font-family: Helvetica, sans-serif;
    color: brown;
}

div {
    font-family:'Times New Roman', Times, serif;
    color: steelblue;
}

#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}

#frmMenu {
    width: 400px;
    height: 200px;
}

.menuGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    padding: 20px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    float: right;
}

.left {
    width: 200px;
    height: 200px;
}

.right {
    width: 200px;
    height: 200px;
}

.center {
    width: 200px;
    height: 200px;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 400px;
    height: 200px;
}

#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
}